
SBomberProject/.vs/SBomberProject/v16/Browse.VC.db

SBomberProject/.vs/SBomberProject/v16/Browse.VC.db-shm

SBomberProject/.vs/SBomberProject/v16/Browse.VC.db-wal

SBomberProject/.vs/SBomberProject/v16/Browse.VC.opendb
