
SBomberProject/.vs/SBomberProject/v16/Browse.VC.db

SBomberProject/.vs/SBomberProject/v16/Browse.VC.db-shm

SBomberProject/.vs/SBomberProject/v16/Browse.VC.db-wal

SBomberProject/.vs/SBomberProject/v16/Browse.VC.opendb

*.ipch

SBomberProject/.vs/SBomberProject/v16/

SBomberProject/SBomberProject/SBomberProject.vcxproj

*.obj

*.log

*.tlog

*.idb

*.pdb

SBomberProject/SBomberProject/log.txt

*.exe

*.ilk

*.recipe

*.filters
